.container {
  padding: 0 1% 5% 1%;
  background-color: white;
  height: 100%;
  overflow-y: hidden;
}

h1 {
  text-align: center;
  font-size: 32px;
  margin-top: 16px;
  margin-bottom: 16px;
}

#pokemon-grid {
  flex-wrap: wrap;
  justify-content: center;

  app-pokemon-card {
    margin-right: 1%;
    margin-bottom: 1%;
    width: 23%;
  }
}

#pokemon-banner {
  height: 20%;
  width: 100%;
  display: block;
  background: url('/assets/pokemon-banner.jpg');
  background-size: cover;
}
