html, body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  background-color: #f3f3f3;
}

a {
  color: inherit;
  text-decoration: none;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
